* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
i {
  padding: 5px;
}

/* nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80px;
}
nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  align-items: center;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social i {
  color: #777;
}
/* showcase */
.showcase {
  background: #333;
  position: relative;
  height: 400px;
}
.showcase:before {
  content: "";
  background: url("./image_resources/featured.jpg") no-repeat center
    center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
}
.showcase > .container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  height: 50vh;
}
.showcase-content {
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.category-sports > h1 {
  padding: 20px 0;
  margin-bottom: 100px 0;
}
.category-sports p {
}
.showcase-content > .btn {
  display: inline-block;
  margin-top: 10px;
}
