.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}
.h-l {
  font-size: 3rem;
}
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.bg-light {
  background: var(--secondary-color);
}
.bg-dark {
  background: #333;
  color: #ffffff;
}
.bg-primary {
  background: var(--primary-color);
  color: #ffffff;
}
.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.btn {
  display: inline;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.btn:hover {
  opacity: 0.9;
}
.btn-primary {
  color: #fff;
  background: var(--primary-color);
}
.btn-primary:hover {
  background: var(--light-color);
}
.btn-light {
  background: var(--light-color);
  color: var(--dark-color);
}
.btn-secondary {
  background: var(--secondary-color);
}
.btn-block {
  display: block;
}
.category {
  display: inline-block;
  color: #ffffff;
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin: 0.5rem 0;
}
.category-sports {
  background: var(--secondary-color);
}
.category-entertainment {
  background: #a66bee;
}
.category-technology {
  background: #009cff;
}
